#ourlogo {
    height: 70px;
}

.home-card-img {
    width: auto;
    height: 100%;
    object-fit: cover;
    align-self: center;
}

.jumbotron {
    color: #1d1b1b;
    background-color: #f4bf4c;
    text-align: center;
}

body {
    background-color: #4b9239;
}

.park-cards {
    background-color: #b5dbe3;
    display: flex;
    flex-direction: column;
}

.museum-cards {
    background-color: #b5dbe3;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Fredoka One', cursive;
}

.uniform-cards {
    height: 10vw;
}

.uniform-cards img {
    height: 50%;
}

.header-text {
    color: #e7514c;
}

.navbar {
    color: antiquewhite !important;
    height: 120px;
    font-size: 35px;
    font-style: normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.navbar-brand {
    font-size: 35px;
    color: rgb(8, 8, 8) !important;
}

.card-body {
    justify-content: center;
    align-content: center;
    background-color: #f7f7f7f3;
}

.container {
    background-color: #4b9239;
}